# Name : Muhammad Ubaid
# Reg No : 23jzele0556
# Lab Task : 03

# Lab practice

# List:

1. Make a list of 5 any integers.

In [1]:
lst1 = [1,2,3,4,5]
lst1

[1, 2, 3, 4, 5]

2. Make a list that contains the student's name, the last four digits of the registration number
as an integer, CGPA as a float, and a list that contains the GPA of all semesters. (Nested List)

In [2]:
student = ['M.Ubaid', 528, 3.91, [3.86,3.95]]
student

['M.Ubaid', 528, 3.91, [3.86, 3.95]]

3. In the above list print the student's CGPA. (Index)

In [3]:
student[2]

3.91

4. Print the list elements using the while loop and use the length function. (len)

In [4]:
a = 0
while a < len(student):
    print(student[a])
    a += 1

M.Ubaid
528
3.91
[3.86, 3.95]

In [5]:
student

['M.KASHIF', 528, 3.91, [3.86, 3.95]]

5. Access the list of all semester GPAs using negative indexing.

In [6]:
student[-1]

[3.86, 3.95]

6. Make a list of the first 20 integers using the range function.

In [7]:
lst2 = [x for x in range(1,21)]
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

7. Make a list of odd integers from 20 to 40 using the range function.

In [8]:
lst3 = [x for x in range(20,40) if x % 2 == 1]
print(lst3)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

Consider the student list.
Student = [Ibrahim, Husain, Irfan, Ayub, Usman]
Use in and not in operators to ensure that the student is in the list or not.

In [9]:
Students = ['waqas', 'abbas', 'yahya', 'noman', 'kashif']

In [10]:
print('waqas' in Students)
print('yahya' not in Students)
print('noman' in Students)
print('kashif' not in Students)

True
False
True
False

9. Print all the student lists in task 8 using the for loop.

In [11]:
Students = [ x for x in Students]
Students

['waqas', 'abbas', 'yahya', 'noman', 'kashif']

10. Observe what is print, what is the first thing print, what the last thing print. Consider task 8
for the student list.
Student [1:3] and student [2:4]

In [12]:
Students [1:3]

['abbas', 'yahya']

In [13]:
Students [2:4]

['yahya', 'noman']

11. Make an appropriate list and use and demonstrate the use of the following mutator
Methods.
a. .append(obj)
b. .extend(iterable)
c. .insert(index, obj)
d. .remove(obj)
e. .pop([index=-1])

In [14]:
lst5 = ['a','b','c','d','e','f']
lst5

['a', 'b', 'c', 'd', 'e', 'f']

a. .append(obj)

In [15]:
lst5.append('g')
lst5

['a', 'b', 'c', 'd', 'e', 'f', 'g']

b. .extend(iterable)

In [16]:
lst5.extend('h')
lst5

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

c. .insert(index, obj)

In [17]:
lst5.insert(2, 'x')
lst5

['a', 'b', 'x', 'c', 'd', 'e', 'f', 'g', 'h']

d. .remove(obj)

In [18]:
lst5.remove('x')
lst5

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

e. .pop([index=-1])

In [19]:
lst5.pop(-1)

'h'

12. Use list inducing in the following nested list and access each and every element.
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [20]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [21]:
print(x[0])

a

In [22]:
print(x[1][0])

bb

In [23]:
print(x[1][1][0])

ccc

In [24]:
print(x[1][1][1])

ddd

In [25]:
print(x[0])

a

In [26]:
print(x[0])

a

In [27]:
print(x[0])

a

# Tuple:

1. Make a tuple containing first five letters of English. (definition)

In [28]:
tpl1 = ('a','b','c','d','e')

In [29]:
tpl1

('a', 'b', 'c', 'd', 'e')

2. Use the index to access the third and last element.

In [30]:
tpl1[2]

'c'

In [31]:
tpl1[4]

'e'

3. Make an appropriate list and tuple and use different operations that will show that list is
mutable and tuple is immutable.

In [32]:
lst1 = ['a', 'b', 'c', 'd', 'e']

In [33]:
lst1

['a', 'b', 'c', 'd', 'e']

In [34]:
# .append()
lst1.append('f')    # list is mutable
print(lst1)

['a', 'b', 'c', 'd', 'e', 'f']

In [35]:
# .append()
tpl1.append('f')    # tuple is immutable
print(tpl1)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# .remvoe()
lst1.remove('e')   # mutabled
print(lst1)

In [ ]:
tpl1.remvoe('e')    # immutable
print(tpl1)

In [ ]:
lst1[2] = 'e'   # mutable
lst1

In [ ]:
tpl1[0] = 'x'   # immutable
tpl1

4. Make a tuple num = (1, 2, 3, 4).
a. Observe the output num[2] = 9

In [ ]:
num = (1, 2, 3, 4)   # immutable
num

In [ ]:
num[2] = 9

# Dictionary

1. Consider the following structure and observe.
 Fd= { ‘one’: ‘aik’, , ‘three’: ‘teen’, ‘ten’ : ‘das’, ‘fifteen’ : ‘pandra’}
* Bracket type
* Print Fd
* Fd[‘one’]
* Fd[‘ten’]
* del Fd[‘three’] and then print Fd.
* Len(Fd).
* Use the key method and print the list of keys.
* Use the value function to print the list of values.
* Observe the output of Fd.items().
* Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such
type of output will help and required.
* To copy the dictionary, one may use one of the following. Verify by printing copy
and alias.
* copy = Fd.copy()
* alias = Fd
* Now let alias[‘three’] = ‘3’, now print alias and observe the result.
* Also let copy[‘three’] = ‘3’, now print copy and observe the result.

 Bracket type

In [36]:
fd= { 'one': 'aik', 'three': 'teen', 'ten' : 'das', 'fifteen' : 'pandra'}
type({})

dict

print(Fd.item)

In [37]:
fd.items()

dict_items([('one', 'aik'), ('three', 'teen'), ('ten', 'das'), ('fifteen', 'pandra')])

In [38]:
print(fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

Fd[‘one’]

In [39]:
fd['one']

'aik'

Fd[‘ten’]

In [40]:
fd['ten']

'das'

del Fd[‘three’] and then print Fd.

In [41]:
del fd['three']
print(fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

Len(Fd).

In [42]:
len(fd)

3

Use the key method and print the list of keys.

In [43]:
fd.keys()

dict_keys(['one', 'ten', 'fifteen'])

Use the value function to print the list of values.

In [44]:
fd.values()

dict_values(['aik', 'das', 'pandra'])

 Observe the output of Fd.items().

In [45]:
fd.items()

dict_items([('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')])

Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such

In [46]:
fd.has_key('one')   # in ptython 3 .has_key methode were remove
fd.has_key('two')

AttributeError: 'dict' object has no attribute 'has_key'

**  Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such
    type of output will help and required.

To copy the dictionary, one may use one of the following. Verify by printing copy
and alias.
* copy = Fd.copy()
* alias = Fd
* Now let alias[‘three’] = ‘3’, now print alias and observe the result.
* Also let copy[‘three’] = ‘3’, now print copy and observe the result.

copy = Fd.copy()

In [47]:
copy = fd.copy()

alias = Fd

In [48]:
alias = fd
alias

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

Now let alias[‘three’] = ‘3’, now print alias and observe the result.

In [49]:
alias['three'] = '3'
alias

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

Also let copy[‘three’] = ‘3’, now print copy and observe the result.

In [50]:
copy['three'] = '3'
copy

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

Make an appropriate dictionary and use the following built-in function and observe the
result.
a. .clear()
b. .get()
c. .item()
d. .keys()
e. .vallues()

In [51]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'f':5}
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'f': 5}

In [52]:
dict1.get('b')    #.get()

2

In [53]:
dict1.get('f')  # .get()

5

In [54]:
dict1.get('c')      # .get()

3

In [55]:
dict1.get('a')      # .get()

1

In [56]:
dict1.items()     #  .items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('f', 5)])

In [57]:
dict1.keys()     # .keys()

dict_keys(['a', 'b', 'c', 'd', 'f'])

In [58]:
dict1.values()       # .values()

dict_values([1, 2, 3, 4, 5])

In [59]:
dict1.clear()          # .clear()

In [60]:
dict1

{}

# List comprehensions:

a. Consider the following code and print the square.

In [61]:
squares = []   # this simple way to print squares of number  from 1 to 10
for x in range(10):
 squares.append(x * x)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Replace the above code with the following. Print the square. This sample one-line code is
called list comprehension.

In [62]:
squares = [x * x for x in range(10)]  # this list comprehension way to print squares of number  from 1 to 10
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Chane x*x by any function of x and observe the resulting list.

In [63]:
squares = [x for x in range(10)] 
squares

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List comprehensions can filter values based on some arbitrary condition that decides
whether or not the resulting value becomes a part of the output list.

In [64]:
even_squares = [x * x for x in range(10) if x % 2 == 0]   # list  comperhension
even_squares

[0, 4, 16, 36, 64]

1. The generalized syntax:
              values = [expression for item in collection if condition]

This new list comprehension can be transformed into an equivalent for-loop:

In [65]:
even_squares = []           #  simple form to print number with for loop
for x in range(10):
    if x % 2 == 0:
        even_squares.append(x * x)
even_squares

[0, 4, 16, 36, 64]

# Dictionary comprehension:

a. { x: x * x for x in range(5) }

In [66]:
{ x: x * x for x in range(5) }

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## CSV FILE

In [67]:
import csv
with open('D:\LABS\pythone labs\OOP AND D.S LAB\Result_CSV.csv', mode ='r')as file:
  csvFile = csv.reader(file)
  for lines in csvFile:
        print(lines)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\LABS\\pythone labs\\OOP AND D.S LAB\\Result_CSV.csv'